* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.top {
  min-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.top_text {
  width: 425px;
}

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.paragraph_what-we-do {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.top_heading {
  font-size: 64px;
  color: #1F3F68;
  width: 510px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.heading-normal {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.heading-mini {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.style {
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0,4;
}

.style-button {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.top__info {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(img/top__back.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 112px;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.what-we-do {
  padding-top: 64px;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  width: 359px;
  padding: 64px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.card_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.project {
  margin-bottom: 112px;
}

.project_item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 32px;
}

.project_item_margin {
  margin-right: 32px;
}

.project__img {
  width: 100%;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__text_mini {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  right: auto;
  left: 32px;
  top: 32px;
  text-align: left;
}

.project__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.footer {
  background-color: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_heading-normal {
  width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 32px;
  text-align: left;
}

.footer_paragraph {
  width: 340px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer_botton {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  padding: 15px 80px;
  text-decoration: none;
  display: inline-block;
  margin-top: 165px;
  margin-right: 120px;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.list {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33,33%;
      flex-basis: 33,33%;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list:first-child::before {
  content: 'A.';
  display: block;
  margin-right: 16px;
}

.list::before {
  content: 'B.';
  display: block;
  margin-right: 16px;
}

.list:last-child:before {
  content: 'C.';
  display: block;
  margin-right: 16px;
}

.footer_copy {
  margin-top: 64px;
}

.copy_paragraph {
  width: 340px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

.block-contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info {
    background-position: right 280px;
    background-size: 44%;
  }
  .card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    margin-bottom: 32px;
  }
  .footer {
    padding-top: 64px;
  }
  .footer_botton {
    padding: 4px 31px;
  }
  .footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .li {
    margin-bottom: 24px;
  }
}

@media (max-width: 667px) {
  .header {
    padding-top: 24px;
  }
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top__info {
    padding-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  .top_heading {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
  }
  .top_text {
    width: 100%;
    text-align: center;
  }
  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }
  .heading-normal {
    font-size: 24px;
    line-height: 28px;
  }
  .what-we-do {
    padding-top: 48px;
  }
  .card-box {
    padding-top: 32px;
  }
  .card {
    width: 100%;
  }
  .text_project {
    width: 100%;
  }
  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__text_mini {
    font-size: 16px;
    line-height: 19px;
    left: 16px;
  }
  .project__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
  .project_item {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .project {
    margin-bottom: 0px;
  }
  .container_footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer {
    margin-top: 0px;
    padding-top: 18px;
    padding-bottom: 32px;
  }
  .footer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0%;
  }
  .footer_heading-normal {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 100%;
    padding-top: 18px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .footer_paragraph {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .footer_botton {
    margin-top: 0px;
    margin-right: 0px;
  }
  .hr {
    margin-top: 40px;
  }
  .footer_bottom {
    padding-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0%;
  }
  .footer_text {
    width: 100%;
  }
  .list {
    margin-bottom: 18px;
  }
  .footer_copy {
    margin-top: 32px;
  }
}
/*# sourceMappingURL=style.css.map */
